#banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/International-Marble-Chicago.jpg') no-repeat;
    height: 100vh;
}

#banner-content {
    margin: auto;
    text-align: center;
}

#banner-text {
    width: 100%;
    padding-top: 100px;
    h1 {
        font-size: 30px;
        @include mq('sm') {
            font-size: 55px;
        }
    }
    h3 {
        font-size: 15px;
        margin-top: 10px;
        @include mq('sm') {
            font-size: 25px;
        }
    }
}

#scroll-down {
    padding-top: 200px;
    vertical-align: bottom;
    padding-bottom: 20px;
    @include mq('sm') {
        padding-top: 350px;
    }
    @include mq('md') {
        padding-top: 400px;
    }
    h3 {
        margin-bottom: 3px;
        color: $primary-font;
    }
    .fas {
        color: $primary-font;
    }
}

//banner text 
.typing::after{
  content:  "";
  width: 2px;
  margin-left: 3px;
  border-right: 6px solid $primary-font;
  animation: blink 1s infinite ease;
}

@keyframes blink {
    0% {
       opacity: 0; 
    }
    100% {
        opacity: 1;
    }

}
