* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
    // font-size: 1rem;
    // margin: 0;
    color: $primary-font;
    @include mq('sm') {
    margin-left: 170px;
    }
}

a {
    text-decoration: none;
}

.back-to-top {
    text-align: center;
    padding: 10px 0 20px;
    h3 {
        margin-top: 3px;
    }
    a {
        color: $primary-font;
    }
}


